body{
    font-family: 'Merriweather', serif;
}

.jumbotron{
    background-image: url("../img/sCousteau.png");
    background-position: center;
    min-height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.jumbotron h1{
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 30px;
}

.jumbotron p{
    padding-bottom: 50px;
}


.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.card-container h1{
    font-weight: bold;
}

.card-subcontainer{
    max-width: 70%;
    margin-top: 30px;
}

.card-subcontainer h5{
    font-weight: bold;
}

.card-container .card{
    border: none;
}

.card-container .card img{
    align-self: center;
}

.sub-section{
    margin-top: 70px;
    margin-bottom: 70px;
}

.col1{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
}

.col1 h1{
    margin-bottom: 20px;
}

.col2{
    min-height: 500px;
}

.col2 img{
    height: 500px;
    align-self: center;
    border-radius: 20px;
}

