body{
    font-family: 'Merriweather', serif;
}

.jumbotron{
    background-image: url("../img/sCousteau.png");
    background-position: center;
    min-height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.jumbotron h1{
    font-weight: bold;
}
